<title>{{ page.meta_title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta name="title" content="A little roadtrip to New York | Alex Cagiwn">
<meta name="description" content="Suggest me some stops on my roadtrip from San Francisco to New York">
<meta name="keywords" content="Product, Design, Designer, Full-Stack, Alex, Cagwin, Breakfast Taco, Alex Cagwin, Worlds Best Tacos">
<meta name="author" content="Alex Cagwin">
<meta property="og:title" content="A little roadtrip to New York | Alex Cagiwn">
<meta property="og:type" content="website">
<meta property="og:url" content="http://roadtrip.acag.win">
<meta property="og:image" content="http://awincag.github.io/media/roadtrip-image.png" />
<meta property="og:description" content="Suggest me some stops on my roadtrip from San Francisco to New York">

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@awincag" />
<meta name="twitter:title" content="A little roadtrip to New York | Alex Cagiwn" />
<meta name="twitter:description" content="Suggest me some stops on my roadtrip from San Francisco to New York" />
<meta name="twitter:image" content="http://awincag.github.io/media/roadtrip-image.png" />

<link rel="shortcut icon" href="/img/favicon.png">
<link rel="icon" type="image" href="/img/favicon.png">

<style> .main-bg {background-color: #{{ page.bg_color }};}</style>
<link href="../assets/css/main.css" type="text/css" rel="stylesheet">
